name: CI - Vérification HTML

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test-html:
    runs-on:
      - self-hosted
      - linux
      - x64
      

    steps:
      - name: Récupération du code
        uses: actions/checkout@v3

      - name: Vérification syntaxe HTML
        uses: Cyb3r-Jak3/html5validator-action@v0.6
        with:
          root: .