name: Publication site
on:
  push:
    branches: ["main"]

permissions:
  contents: write

jobs:
  Deploiement:
    runs-on: ubuntu-latest

    steps:
      - name: Récupération du code
        uses: actions/checkout@v3

      - name: Configuration de la page
        uses: peaceiris/configure-pages@v5

      - name: utilisation d'artifact
        uses: peaceiris/upload-pages-artifact@v3

        with:
          path: .
      - uses: action/deploy-pages@v4
